% rebase('base.html')
<html lang="en">
<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/images/Ashpic.jpg" alt="Ashrey" style="width:100%">
      <div class="container">
        <h2>Ashrey Ranjit</h2>
        <p class="title">Staff</p>
        <p>Hi I am ASHREY RANJIT</p>
        <p>ashrey.ranjit@students.mq.edu.au</p>
        <p><button class="about_button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/images/Ahmadpic.jpg" alt="Ahmad" style="width:100%">
      <div class="container">
        <h2>Ahmad Sikder</h2>
        <p class="title">staff</p>
        <p>i am Ahmad i am Ahmad</p>
        <p>Ahmad.sikder@students.mq.edu.au</p>
        <p><button class="about_button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/images/conorpic.jpg" alt="Conor" style="width:100%">
      <div class="container">
        <h2>Conor Wilson</h2>
        <p class="title">Staff</p>
        <p>I am conor</p>
        <p>conor.wilson@students.mq.edu.au</p>
        <p><button class="about_button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/images/burakpic.jpg" alt="Burak" style="width:100%">
      <div class="container">
        <h2>Burak Ozturker</h2>
        <p class="title">Staff</p>
        <p>Hi I AM BURAK</p>
        <p>burak.Ozturker@students.mq.edu.au</p>
        <p><button class="about_button">Contact</button></p>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="/static/images/Mohamedpic.jpg" alt="Mohamed" style="width:100%">
      <div class="container">
        <h2> Mohamed Maatouk</h2>
        <p class="title">Staff</p>
        <p>Hi I AM MOHAMED</p>
        <p>Mohamed.Maatouk@students.mq.edu.au</p>
        <p><button class="about_button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</html>

