<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
</head>
<body>
<nav>

    <div class="mainLogo">

        <h4>COMMUNITY BARTER</h4></div>
    <ul class="nav-links">
        % if authenticated:
        <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a href="/about"><i class="fa fa-fw fa-user"></i>About</a></li>
        <li><a href="/accountSettings"><i class="fa fa-fw fa-spin fa-gear"></i>Account Settings</a></li>
        <li><a href="/logout" method="POST"><input type="submit" value="logout"></a></li>
        % end
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
    </div>
</nav>

<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/static/images/Ashpic.jpg" alt="Ashrey">
            <div class="container">
                <h2>Ashrey Ranjit</h2>
                <p class="title">Staff</p>
                <p>Hi I am ASHREY RANJIT</p>
                <p>ashrey.ranjit@students.mq.edu.au</p>
                <p>
                    <button class="about_button">Contact</button>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/Ahmadpic.jpg" alt="Ahmad">
            <div class="container">
                <h2>Ahmad Sikder</h2>
                <p class="title">staff</p>
                <p>i am Ahmad i am Ahmad</p>
                <p>Ahmad.sikder@students.mq.edu.au</p>
                <p>
                    <button class="about_button">Contact</button>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/connorpic.jpg" alt="Conor">
            <div class="container">
                <h2>Connor Wilson</h2>
                <p class="title">Staff</p>
                <p>I am connor</p>
                <p>conor.wilson@students.mq.edu.au</p>
                <p>
                    <button class="about_button">Contact</button>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/burakpic.jpg" alt="Burak">
            <div class="container">
                <h2>Burak Ozturker</h2>
                <p class="title">Staff</p>
                <p>Hi I AM BURAK</p>
                <p>burak.Ozturker@students.mq.edu.au</p>
                <p>
                    <button class="about_button">Contact</button>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/Mohamedpic.jpg" alt="Mohamed">
            <div class="container">
                <h2> Mohamed Maatouk</h2>
                <p class="title">Staff</p>
                <p>Hi I AM MOHAMED</p>
                <p>Mohamed.Maatouk@students.mq.edu.au</p>
                <p>
                    <button class="about_button">Contact</button>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/static/app.js"></script>
</body>
</html>

