% rebase('base.html')

    % if validated:
        <h2>Update your details</h2>
        <h2>{{bannerMessage}}</h2>
        % if invalidPword:
            <h3>Password not updated! Password must contain at least 1 capital letter,
                1 number and be atleast 7 characters long</h3>
        % end
        <form action="/updateAccount" method="POST"  enctype="multipart/form-data" class="poster1">
            Password: <input type="text" name="pword"><br>
            Suburb: <input type="text" name="suburb"><br>
            Name: <input type="text" name="name"><br>
            Avatar: <input type="file" name="image"><br>
            <input type="submit" value ="Update Details">
        </form>

    % else:
        <h2>Verify password to access settings</h2>
        <h2>{{bannerMessage}}</h2>
        <form action="/pwordCheck" method="POST" class="poster1">
            Password: <input type="text" name="password"><br>
            <input type="submit" value="Verify">
        </form>
    % end