<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  </head>

  <body>
    <h1>COMMUNITY BARTER SITE</h1>
    <img src="/static/images/cblogo.JPG">
    <div class='styled'>
	  <ul>
		 <li><a href="/">Home</a></li>
          <li><a href="/about">About this site</a></li>
          % if authenticated:
          <li><a href="/accountSettings">Account Settings</a></li>
          % end
      </ul>
    </div>

    % if authenticated:
        <h2>Logged in as {{ authenticated }}</h2>

        <form action="/logout" method="POST" id="logoutform" class="button">
            <input type="submit" value="logout">
        </form>
    % else:
        <form action="/login" method="POST" id="loginform" class="poster1">
            Username: <input type="text" name="name"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit" value="Login">
        </form>
        <form action="/createAccount" method="get" target="_blank" class="button">
          <input type="submit" value="Create Account">
        </form>
    % end
    {{!base}}
  </body>
</html>
