<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
</head>

<body>
<nav>

    <div class="mainLogo">

        <h4>COMMUNITY BARTER</h4></div>
    <ul class="nav-links">
        % if authenticated:
        <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <li><a href="/about"><i class="fa fa-fw fa-user"></i>About</a></li>
        <li><a href="/accountSettings"><i class="fa fa-fw fa-spin fa-gear"></i>Account Settings</a></li>
        <li><a href="/logout" method="POST"><input type="submit" value="logout"></a></li>
        % end
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>

    </div>
</nav>


% if authenticated:
<h2>Logged in as {{ authenticated }}</h2>

<form action="/logout" method="POST" id="logoutform" class="button">
    <input type="submit" value="logout">
</form>
% else:
<form action="/login" method="POST" id="loginform" class="poster1">
    Username: <input type="text" name="name"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="Login">
</form>
<form action="/createAccount" method="get" target="_blank" class="button">
    <input type="submit" value="Create Account">
</form>
% end
{{!base}}

<script src="/static/app.js"></script>
</body>
</html>
