<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
  </head>

  <body>
  <h1> {{bannerMessage}} </h1>
        <form action="/createAcc" method="POST" id="" class="poster1">
            Email Address: <input type="text" name="email"><br>
            Name: <input type="text" name="name"><br>
            Suburb: <input type="text" name="suburb"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit" value="Create Account">
        </form>

  </body>