% rebase('base.html')



%if loginIsTrue:


<form action="/addtask" method="POST" id="addtask" class="button">
    <input type="submit" value="Add A New Task">
</form>


<form action="/gettask" method="POST" id="gettask" class="button">
    <input type="hidden" name="tasktype" value="0">
    <input type="submit" value="Get All Available Tasks">
</form>

<form action="/gettask" method="POST" id="getmyTask" class="button">
    <input type="hidden" name="tasktype" value="1">
    <input type="submit" value="Get My Tasks">
</form>

<form action="/deletetask" method="POST" id="deletetask" class="button">
    <input type="number" name="taskid">
    <input type="submit" value="Delete A Task">
</form>
%end

%if tasksexist:
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Time Created</th>
        <th>owner</th>
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    % for t in task:
    <tr>
        <td>{{t.get("id")}}</td>
        <td>{{t.get("time")}}</td>
        <td>{{t.get("owner")}}</td>
        <td>{{t.get("title")}}</td>
        <td>{{t.get("location")}}</td>
        <td>{{t.get("description")}}</td>
    </tr>
    %end

</table>
%end
