body
{
    margin: 0;
    padding: 0;
}

.registration-up-form
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background:black;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}