html {
    /*background-image: url("/static/images/Mq_backgroundcolor.JPG");*/
    background-color: #F8F8FF;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/*(navigation bar start)*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #606060;
}

.mainLogo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
}


/*(navigation bar end)*/


.poster input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.poster input[type=submit] {
    width: 20%%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.poster1{
    width: 300px;
    box-shadow: aquamarine;
    background: wheat;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    color: black;
}

.poster input[type=submit]:hover {
    background-color: red;
}

.poster1 input[type=text], select {
    width: 20%%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.poster1 input[type=submit] {
    width: 20%%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.poster1 input[type=submit]:hover {
    background-color: #45a049;
}

.button input[type=submit] {
    width: 20%%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button input[type=submit]:hover {
    background-color: #45a049;
}
.div1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.banner{
	width:100%;
}

.list li{
list-style-type: none;}

.positionslist {
        width: 85%;
        background-color: #e8eeef;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
        margin-top:10px;
        border-radius: 10px;
        border: solid #f4f7f8;
}

.truncate {
  width: 95%;
  height:138px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head{
font-size: large;}

.txt{
color:#008348;}

----------------
----------------
/*about us page start*/

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 0, 2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.about_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.about_button:hover {
  background-color: red;
}

/*about page ends*/


@media screen and (max-width: 1024px) {
  .nav-links{
    width: 50%;
  }
}



@media screen and (max-width: 750px) {
  body{
        overflow-x: hidden;
    }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #606060;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    display: none;
    opacity: 0;
  }

  .burger{
    display: block;
  }

  .nav-active{
    transform: translateX(0%);
  }

  @keyframes navLinkFade{
    From{
        opacity: 0;
        transformation: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
  }
}



