% rebase('base.html')

 <form action="/addingtask" method="POST"  enctype="multipart/form-data" class="poster1">
            Title: <input type="text" name="title"><br>
            Location: <input type="text" name="location"><br>
            Description: <input type="text" name="descrip"><br>
            Payment: <select id="cost" name="cost">
                    <option value="1">1 Coin (Low Effort)</option>
                    <option value="2">2 Coins (Medium Effort)</option>
                    <option value="3">3 Coins (High Effort)</option>
                    </select>
          Category:
        <select size="11" name="category">
        <option value="Other Services" selected="selected">Other Services </option>
        <option value="Electrical">Electrical</option>
        <option value="Plumbing">Plumbing </option>
        <option value="Gardening/ Landscaping">Gardening/ Landscaping  </option>
        <option value="Paint / Plaster">Paint / Plaster </option>
        <option value="Other Trade">Other Trade</option>
        <option value="General Housework">General Housework </option>
        <option value="Computer/ Tech">Computer/ Tech</option>
        <option value="Sports/ Health">Sports/ Health</option>
            <option value="Automotive">Automotive </option>
            <option value="Veterinary">Veterinary </option>
            <option value="Babysitting">Babysitting</option>
        </select>
                <br>
            <input type="submit" value ="Update Details">
        </form>

