% rebase('base.html')

 <form action="/addingtask" method="POST"  enctype="multipart/form-data" class="poster1">
            Title: <input type="text" name="title"><br>
            Location: <input type="text" name="location"><br>
            Description: <input type="text" name="descrip"><br>
            Payment: <select id="cost" name="cost">
                    <option value="1">1 Coin (Low Effort)</option>
                    <option value="2">2 Coins (Medium Effort)</option>
                    <option value="3">3 Coins (High Effort)</option>
                    </select>
                <br>
            <input type="submit" value ="Update Details">
        </form>

